<!DOCTYPE html>  
<html lang="es">  
  <head>  
    <title>Hello World React CDN</title>  
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.1/react-dom.js"></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
  </head>  
  <body>  
    <div id="root"></div>
    <script src="./App.js" type="text/babel"></script>
  </body>
</html> 